@model HomeViewModel
@{
    Layout = null;

}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Routing Demo</title>
    <style>
        body {
            font-family: sans-serif;
        }
    </style>
</head>
<body>
    <h1>
        Routing Demo
    </h1>
    <div>
        <label>Check all</label>
        <input type="checkbox" id="checkall" />
        <ul>
            @foreach (var item in Model.Values)
            {
                <li id="@item.Key">
                    <label for="@item.Key">@item.Value</label>
                    <input type="checkbox" class="checkbox" id="@item.Key" value="@item.Key" />
                </li>
            }
        </ul>
        <form asp-action="submitform" onsubmit="return confirm('Are you sure?')">
            <input type="hidden" value="" name="selectedIds" />
            <button type="submit">Ta bort</button>
        </form>
    </div>
    <p>
        @Model.Name is @Model.Age years old and he drives a @Model.Vehicle.Make @Model.Vehicle.Model
    </p>
    @*<form asp-action="SubmitForm">
            <button type="submit">Skicka</button>
        </form>*@
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
            integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
            crossorigin="anonymous"></script>
    <script>
        $(document).ready(function () {
            var checked = [];
            $('.checkbox').change(function (e) {
                if (this.checked) {
                    checked.push($(this).val());
                } else {
                    var value = $(this).val();
                    var index = checked.indexOf(value);
                    if (index > -1) {
                        checked.splice(index, 1);
                    }
                }
                console.log(checked);
            });

            $('#checkall').change(function (e) {
                checked = [];
                if (this.checked) {
                    $('input.checkbox').prop('checked', true);
                    $('input.checkbox').each(function () {
                        checked.push($(this).val());
                    });
                } else {
                    $('input.checkbox').prop('checked', false);
                }
                console.log(checked);

                $('input[name="selectedIds"]').val(checked.join(','));
            });
        });
    </script>
</body>
</html>
